<nav>
	<span class="nav-text"><a href="/#/">Home</a></span
	<span class="nav-text"><a href="/#/projects">Projects</a></span>
</nav>

<h2>.com</h2>
<div>
	<p ng-click="showInfo1()">Adobe Optimization Analyst</p>
		<div ng-show="showInfo1">
			<p>Implement Adobe on Adobe</p>
		</div>
	<p ng-click="showInfo2()">Adobe Support Engineer</p>
		<div ng-show="showInfo2">
			<p>Fend off clients from our beloved engineers</p>
		</div>
	<p ng-click="showInfo3()">OrangeSoda Marketing Expert</p>
		<div ng-show="showInfo3">
			<p>SEO & PPC for the little guys</p>
		</div>
</div>
<h2>.edu</h2>
<div>
	<p>UVU MBA</p>
	<p>DevMountain</p>
	<p>UVU B.S. Marketing</p>
</div>

<a href="http://www.loganrobins.com/resume.pdf"><span>traditional resume</span></a>