<nav>
	<span class="nav-text"><a href="/#/">Home</a></span
	<span class="nav-text"><a href="/#/projects">Projects</a></span>
</nav>

<h2>Work</h2>
<div class="container">
	<div class="list green" ng-click="expand1 = !expand1">Adobe Optimization Analyst</div>
			<p class="drop-list drop-animate" ng-show="expand1">Implement Adobe on Adobe</p>
	<div class="list orange" ng-click="expand2 = !expand2">Adobe Support Engineer</div>
			<p class="drop-list drop-animate" ng-show="expand2">Fend off clients from our beloved engineers</p>
			<p class="drop-list drop-animate" ng-show="expand2">Knowledge of all things Adobe Target</p>
	<div class="list fuschia" ng-click="expand3 = !expand3">OrangeSoda Marketing Expert</div>
			<p class="drop-list drop-animate" ng-show="expand3">SEO & PPC for the little guys</p>
</div>
<h2>School</h2>
<div class="container">
	<div class="list green" ng-click="expand4 = !expand4">UVU MBA</div>
		<p class="drop-list drop-animate" ng-show="expand4">Master's degree... ooohhh wow :D</p>
	<div class="list orange" ng-click="expand5 = !expand5">DevMountain</div>
		<p class="drop-list drop-animate" ng-show="expand5">Coding bootcamp. Get down and give me 20!!</p>
		<p class="drop-list drop-animate" ng-show="expand5">Front End Engineer stuffs :)</p>
	<div class="list fuschia" ng-click="expand6 = !expand6">UVU B.S. Marketing</div>
		<p class="drop-list drop-animate" ng-show="expand6">Ya know, it <em>is</em> the biggest university in Utah now...</p>
</div>
<br>
<br>
<br>
<br>
<a id="no-shadow" href="https://www.dropbox.com/s/3m5l6gml917p212/lresume%204-15.pdf?dl=1"><span class="resume">traditional resume</span></a>