<nav>
	<span class="nav-text"><a href="/#/about">About</a></span>
	<span class="nav-text"><a href="/#/home">Home</a></span>
	<span class="nav-text right"><a href="https://github.com/loafr">Link to my GitHub</a></span>
</nav>

<h2>Projects</h2>
<div class="container">
	<div class="list green" ng-click="expand7 = !expand7">Pay Off My Mortgage</div>
			<p class="drop-list  drop-animate" ng-show="expand7">App that helps the little man stick it to the man. (a.k.a. Glorified Lottery)</p>
	<div class="list orange" ng-click="expand8 = !expand8">Angular Tunes</div>
			<p class="drop-list drop-animate" ng-show="expand8">iTunes API that searches for everything Apple wants the masses to consume</p>
	<div class="list fuschia" ng-click="expand9 = !expand9">Nested Time/Date Directive</div>
			<p class="drop-list drop-animate" ng-show="expand9">Angular directive for times and dates for use anywhere</p>
</div>